.previewButton {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 0px;
    background-color: #6c41ec;
    transition: background-color .25s;
    background-size: contain;
    background-repeat: no-repeat;
}

.previewButton:hover {
    background-color: rgba(108, 65, 233, .7)
}

.not-playing {
    background-image: url(./play-icon.png);
}

.playing {
    background-image: url(./stop-icon.png);
}